# Configuration for pgsqlbackup

# Uncomment and configure your Postgres connection, if needed
#PGUSER=$USER
#PGHOST="localhost"

# Base dir for backups - don't store other files here as they could get deleted
# by the script. Please keep a trailing slash.
BASEDIR="/home/$USER/pgsql_backups/"

# Directory to put todays backup.
BACKUPDIR=`date +%m-%d-%Y`

# Number of copies to keep
KEEP=14

# Which compressor to use (gzip/bzip2)
COMPRESSOR=bzip2

# Databases to back up, separated by spaces.
#DATABASES=()

# Since each element in this list is passed to an inverted grep, you can exclude
# multiple databases with a single matching word. Uncomment if you define DATABASES.
EXCLUDE=(test development postgres template)

# Exception hooks, triggered i.e if the database connection is down.
# The error message is provided as an argument. The default hook simply logs the
# error to a txt file, with a timestamp.
#EXCEPTIONHOOKS=(
#  "/home/$USER/pgsqlbackup/hooks/log_exceptions.sh /home/$USER/pgsqlbackup_errors.txt"
#)

# Post backup hooks, can be used send mails or copy the files offsite, etc.
# One per line, don't separate the lines with commas.
#POSTHOOKS=(
#  "/home/$USER/pgsqlbackup/hooks/rsync.sh $BACKUPDIR user@host:/path"
#)
